
/*-----General styling-----*/
$font-family-theme: 'Fira Sans', sans-serif;
$h2-color: $primary;

/*-----Top navigation-----*/
$topnav-title-color: $black;
$topnav-brand-height: 50px;

/*-----Sidebar-----*/
$sidebar-bg: $white;
$sidebar-color: $dark;
$sidebar-lvl2-bg: transparent;
$sidebar-lvl2-color: $dark;
$sidebar-lvl3-bg: transparent;
$sidebar-lvl3-color: $dark;
$sidebar-bg-active: $primary;
$sidebar-color-active: $white;

/*-----Footer-----*/
$footer-bg: $dark;
$footer-color: $white;
$footer-link-color: $white;
$footer-link-color-hover: $white;
$footer-copyright-bg: $light-xx;