/* -----Homepage----- */

.landingpage {

    .h-icon-6 {
        height: 6em;
    }
    .h-icon-5 {
        height: 5em;
    }
    .h-icon-4 {
        height: 4em;
    }

    .card {
        &:hover{
            box-shadow: $box-shadow;
        }

        .card-img-top {
            width: unset;
            padding: $card-spacer-x $card-spacer-x 0 $card-spacer-x;
        }
    }

    h1 {
        font-size: 2.2rem;
        text-align: center;
        margin-bottom: 0;
    }

    h2 {
        font-weight: 700;
        font-family:  $font-family-theme;
    }

    h3 {
        font-weight: 500;
        font-family:  $font-family-theme;
        font-size: 1.2rem;
    }

}
.container.hero{
    max-width: 40%;
}

/*-----Section navigation tiles-----*/

.navigation-tiles {
    .card:hover {
        box-shadow: $box-shadow;
    }
    .card{
        background-color: $white;
    }

    .card-header {
        a:hover {
            text-decoration: none;
        }
        h3 {
            font-size: 1rem;
        }
    }
}

// Search box

section#search-section {
    form {
        max-width: 600px;
    }

    #search-results {
        right: unset;
    }
    .input-group-text {
        font-size: 1.5rem;
    }
}

.copyright p, #ett-logo{
    color: $body-text-colour !important;
}

footer .cls-2{
    opacity: 0.18 !important;
}
footer .footer-text{
    display: inline-block;
    font-size: 13px;
    padding: 1.2rem 0 0 0;
    line-height: 20px;
}

header .navbar .navbar-brand img{
    width: 200px;
    height: 40px;
}
.navbar-nav .nav-item>a.active{
    background-color: $primary;
    border-radius: 0.3rem;
    color: $white !important;
}
.nav-link.hide{
    display: none;
}


//1+MG wheel in sidebar
.sidebar_mgtf {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
li ul .sidebar_rdm_sub {
    border-color: $light;
    padding: 0.75rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0px 0px $border-radius $border-radius;
    border-style: none solid solid solid;
    border-width: 0.2em;
    margin-top: -0.25rem;
}

@media (max-width: 992px) {
    .sidebar_mgtf {
        width: 200px;
    }
}

li ul .sidebar_mgtf_sub {
    border-color: $light;
    padding: 0.75rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0px 0px $border-radius $border-radius;
    border-style: none solid solid solid;
    border-width: 0.2em;
    margin-top: -0.25rem;
}

#side-nav .btn.sidebar-title {
    border-bottom: 0.2rem solid $primary;
    font-weight: bold;
    padding-bottom: $input-btn-padding-y - 0.2rem;
}

#side-nav>ul>li:not(.sidebar-title)>a {
    background-color: $light;
    color: $primary;
}

main {
    h4{
        color: $primary;
    }
}
/* Youtube video embed */
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin: 1rem 0;
  }
  
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* Table */

  table.datalifecycle{
      border: 1px solid;
      tr, td{
          border: 1px solid;
      }
  }
  .pink{
      background-color: #F4CCCC;
  }
  .light-green{
    background-color: #D9EAD3;
}

  /* Anchor tag hidden */
  .anchorjs-link {
      display: none;
  }

  /* heading links */
  h3{
    font-size: 1.2rem;
    color: $heading-colour;
    a{
        text-decoration: underline;
    }
  } 

  h2{
    color: $heading-colour !important;
   a {
    font-size: 1.6rem;  
    text-decoration: underline;
  }  
}